<div class="body-content">


    <div class=" card">
        <div class="card-header">
          <h1>Categorías
          </h1>
          <button type="btn btn-primary btn-new" (click)="showModalForm()" id="boton" >Nueva Categoria</button>
          <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
                <tr class="table-primary">
                  <th scope="col">Id</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Tag</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Más</th>
                </tr>
              </thead>
                <tbody>
                        @for (item of categories; track item){
                        <tr class="table-default text-white">
                            <td>{{item.category_id}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.tag}}</td>
                            <td>
                              <div class="td-status" [ngClass]="{'td-status-enable': item.status == 1, 'td-status-disable': item.status == 0}" >
                                {{ item.status == 0 ? "Inactivo" : "Activo" }}
                                </div>
                            </td>
                            <td>
                              <div class="dropdown">
                                <!-- dots button  -->
                                <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                                </button>
            
                                <!-- menu options -->
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" (click)="updateCategory(item)">
                                    <i class="ph ph-eye icon-text-ul"></i>Editar
                                  </a>
                                  @if(item.status != 0){
                                    <a class="dropdown-item disable-item" (click)="disableCategory(item.category_id)">
                                      <i class="ph ph-x-circle icon-text-ul"></i>Desactivar
                                    </a>
                                  }@else {
                                    <a class="dropdown-item enable-item" (click)="enableCategory(item.category_id)">
                                      <i class="ph ph-check-circle icon-text-ul"></i>Activar
                                    </a>
                                  }
                                </div>
                              </div>
                            </td>
                            
                        <tr>
                            }
                    </tbody>
            </table>
          </div>
          
      </div>
    
    </div>
</div>

<div class="modal fade" id = "modalForm" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{updated==0? "Agregar": "Actualizar"}} Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <div class="mb-3">
            <label for="category" class="form-label">nombre de la categoria<span class="input-required">*</span></label>
            <input type="text"class="form-control" formControlName="category"  id="category" placeholder="nombre de la categoria" [ngClass]= "{'is-invalid': form.controls['category'].errors && submitted}">
            @if (form.controls['category'].errors && submitted){
              <small class="invalid-feedback">Favor de ingresar un nombre de categoria valido.</small>
            }
          </div>
          <div class="mb-3">
            <label for="tag" class="form-label">Tag<span class="input-required"  >*</span></label>
            <input type="text" class="form-control" formControlName="tag" id="tag" placeholder="Tag de la categoria" [ngClass]= "{'is-invalid': form.controls['tag'].errors && submitted}">
            @if (form.controls['tag'].errors && submitted){
              <small class="invalid-feedback">Favor de ingresar un nombre de tag valido.</small>
            }
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-save">Agregar</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>