
.body-content{
  max-width: 1280px;
  margin: auto;
  margin-top: 16px;
}

#product-title{
    text-align: center;
    font-size: large;
}

.carousel-del {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  #update {
    margin-right: auto; /* Alinea el label a la izquierda */
    cursor: pointer;
    padding-left: 30px;
  }
  
  .trash {
    margin-left: auto; /* Alinea el icono de la papelera a la derecha */
    cursor: pointer;
    padding-right: 30px;
  }

.indicator{
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}



.carousel-control-prev-icon{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.carousel-control-next-icon{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
