

.body-content{
    max-width: 1280px;
    margin: auto;
    margin-top: 16px;
}

.d-flex{
    display: flex;
    width: 100vh;
    inline-size: auto;
    flex-direction:row;
}

.form-select{
    max-width: 200px;
    margin-right: 20px;
}