<div class="body-content">

    <div class="card">

        <div class="card-body">
            <div class="row">
    
                <!-- product image  -->
                <div class="col-md-4">
                    <div class="card">
                        <div *ngIf="productImgs.length > 1" id="carouselExampleIndicators" class="carousel slide"
                            data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button *ngFor="let item of productImgs; let i = index" type="button" class="indicator"
                                    data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                                    [class.active]="i === 0" [attr.aria-current]="i === 0"
                                    [attr.aria-label]="'Slide ' + i"></button>
                            </div>
                            <div class="carousel-inner">
                                <div *ngFor="let prod of productImgs; let i = index" class="carousel-item"
                                    [class.active]="i === 0">
    
                                    <img src="{{ prod.image !== '' ? prod.image : 'assets/no-product-image.png'}}"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!--Caso default-->
                        <div *ngIf="productImgs.length <= 1" id="carouselExampleIndicators" class="carousel slide"
                            data-ride="carousel">                        
                            <div class="carousel-inner">
                                <div *ngIf="productImgs.length == 0" class="carousel-item active">
                                    <img src="assets/no-product-image.png" class="d-block w-100" alt="...">
                                </div>
                                <div *ngFor="let prod of productImgs" class="carousel-item active">
                                    <img src="{{ prod.image !== '' ? prod.image : 'assets/no-product-image.png'}}"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
    
    
                <!-- product data  -->
                <div class="col-md-8">
                    <div >
                        <div class="col-md-6">
                            <h2 class="display-5 fw-bolder">{{ product.product }}</h2>
                            <p>Código de producto: {{product.gtin}}</p>
                            
                            <div class="fs-5 mb-5">
                                <h3>${{ product.price }}</h3>
                            </div>
                            <p class="lead">{{ product.description }}</p>
                            <div class="d-flex">

                            @if (product.stock == 0) {
                                <p class="text-danger">Producto agotado</p>
                            }@else {

                                <div class="text-center d-flex justify-content-left "> 
                                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline">
                                    <label for="quantity" class="form-label">Cantidad:</label>
                                    
                                    <select  formControlName="quantity" id="quantity" class="form-select form-select-sm" aria-label=".form-select-sm example" >
                                        @for(stock of stock; track stock; let i = $index ) {
                                            <option value="{{i+1}}">{{i+1}}</option>
                                        }
        
                                    </select>   

                                    <button type="button" class="btn btn-primary btn-block" (click)="onSubmit()" >
                                        <i class="ph ph-plus-circle"></i>
                                        Agregar al carrito
                                      </button>

                                    </form>
                                </div>

                            }
                                
                                
                    
                                 
                            </div>
                        </div>

                    


                    </div>
                </div>
            </div>
        </div>
    
    
    
        
    </div>
</div>